<h3>Área</h3>

@*<MatTable  class="mat-elevation-z5">
    <MatTableHeader>
        <th>Id</th>
        <th>Nombre</th>
        <th>Empleado Responsable</th>
    </MatTableHeader>
    <MatTableRow>

    </MatTableRow>
</MatTable>

@code

{

        


}*@
