@page "/area/create"
<h3>Lista de Áreas</h3>
<div>
    <table>
        <thead>
            <tr>
                <th> Id </th>
                <th> Name </th>
                <th> Id Empleado responsable </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var area in Areas)
            {
                <tr>
                    <td>@area.AreaId</td>
                    <td>@area.AreaName</td>
                    <td>@area.LiableEmployerId</td>
                </tr>
            }
        </tbody>
    </table>
</div>
